#box1{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: sticky;
    top: 0px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    position: static;
    top: 50px;
    left: 50px;
    
}